<h1>Add a reservation</h1>

<%= simple_form_for [@forest, @booking],
  wrapper: :floating_labels_form,
  wrapper_mappings: {
    select: :floating_labels_select
  }  do |f| %>
  <%= f.error_notification %>
  <%= f.input :start_date, as: :string, required: true, input_html: {id: "booking_start_date"} %>
  <%= f.input :end_date, as: :string, required: true, input_html: {id: "booking_end_date"} %>
  <%= f.button :button, 'Reset dates', :type => 'reset', :class => 'btn' %>
  <%= f.submit "Submit booking", class: "btn btn-primary" %>
<% end %>
