<div class="wrap">

  <div class="cards-container">
    <% if @forests.any? %>
      <% if @forests.size == 1 %>
        <p><%=  @forests.size %> result for <%= (params[:query]) %>:</p>
      <% else %>
        <p><%=  @forests.size %> results for <%= (params[:query]) %>:</p>
      <% end %>
      <% @forests.each do |forest| %>
        <%= link_to forest_path(forest) do %>
          <div class="forest-card">
            <div class="card-image">
              <% if forest.photos.first %>
                <%= cl_image_tag forest.photos.first.key %>
              <% else %>
                <%= image_tag 'forests/forest1.jpg'%>
              <% end %>
            </div>
            <div class="card-infos">
              <h3><%= forest.title %></h3>
              <p><%= forest.description %></p>
              <p><%= forest.address %></p>
            </div>
            <div class="coeur-price">
              <% if forest.user.photo.key %>
                <%= cl_image_tag forest.user.photo.key, crop: :fill, class: 'avatar' %>
              <% else %>
                <%= image_tag 'gnome-avatar.jpg', class: 'avatar' %>
              <% end %>
              <p><%= forest.price.to_i %>€ / night</p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>Sorry, we don't have any forests for your search yet 😬</p>
    <% end %>


    <%# if policy(Forest).create? %>
      <%#= link_to 'Add a forest', new_forest_path %>
    <%# end %>

  </div>


    <div id='mapbox'
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>
