<div class="forest-show-container col-8 offset-2">
  <%= link_to "Back to results page", '/forests', class: 'back-btn'%>

  <div class="forest-header-show">
    <div>
      <h1><%= @forest.title.capitalize %></h1>
    </div>
   <div class="forest-header-show-details">
      <h6><%= @forest.address %></h6>
    </div>
  </div>

  <div class="show-forest-photos">
    <% @forest.photos.each do |photo| %>
        <div class="forest-photo">
          <%= cl_image_tag photo.first.key, height: 300, width: 400, crop: :fill %>
        </div>
      <% end %>
  </div>

  <div class="details-booking-container">
    <div class="forest-details">
      <div class="forest-details-infos">
        <div>
          <h3>Entire forest ● Hosted by <%= @forest.user.first_name %> <%= @forest.user.last_name %></h3>
          <p>Type of trees : <%= @forest.tree %> ● Type of animals : <%= @forest.animals %> ● Forest size : <%= @forest.size %> m²</p>
        </div>
        <div class='user-photo-avatar'>
          <% if current_user.photo.key %>
            <%= cl_image_tag current_user.photo.key, crop: :fill, class: 'avatar' %>
          <% else %>
            <%= image_tag 'gnome-avatar.jpg', class: 'avatar' %>
          <% end %>
        </div>
      </div>

      <div class="infos">
        <h3><%= @forest.user.first_name %> <%= @forest.user.last_name %> is a Superhost</h3>
        <p>Superhosts are experienced gnomes, who are commited to to provinding great stays for their guests.</p>
        <h3>Great forest</h3>
        <p>100% of recent guests gave the forest a 5-star rating.</p>
        <h3>Free cancellation before march 23</h3>
      </div>

      <div class="forest-description">
        <h4> <%= @forest.description %></h4>
      </div>

      <div class="offers">
        <h3>What this forest offers</h3>
        <p>campfire</p>
        <p>barbecue</p>
        <p>dwarf toss</p>
        <p>bikes</p>
        <p>mushroom picking</p>
        <p>picnic</p>
        <p>building hut</p>
        <p>tree climbing</p>
      </div>

      <div class="calendar">
        <h2>5 nights in <%= @forest.address%></h2>
      </div>

      <div class="forest-reviews">
      </div>
    </div>

    <div class="forest-booking-card">
      <h3><%=@forest.price%> € / night </h3>
      <table>
        <tr>Your booking</tr>
        <tr>
          <td> Check-in </td>
          <td> Check-out </td>
        </tr>
        <tr>
          <td>Total price</td>
        </tr>
      </table>
      <a class="btn-outline-success" href="">Book now</a>
    </div>

  </div>
</div>

<div>
  <%= link_to 'Book forest', new_forest_booking_path(@forest) %>
  <%= link_to 'Edit forest', edit_forest_path %>
  <%= link_to "Delete forest",
              forest_path(@forest),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</div>
